@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

:root {
    --width-main-menu: 20rem;
}

.menu-hamburger {
    --bt-size: 2.5rem;
    --bt-padding: .4rem;
    height: var(--bt-size);
    width: var(--bt-size);
    cursor: pointer;
    position: fixed;
    left: 1em;
    bottom: 1em;
    z-index: 1;
    transition: .3s;
}

.menu-hamburger>span,
.menu-hamburger::before,
.menu-hamburger::after {
    content: '';
    position: absolute;
    left: var(--bt-padding);
    right: var(--bt-padding);
    height: 2px;
    background-color: black;
    transition: .3s;
}

.menu-hamburger::before {
    top: var(--bt-padding);
}

.menu-hamburger::after {
    bottom: var(--bt-padding);
}

.menu-hamburger.opened {
    left: 0;
    transform: translateX(calc(var(--width-main-menu) - (var(--bt-size) / 2)));
}

.menu-hamburger.opened::before {
    transform-origin: 0 0;
    transform: rotate(45deg) scaleX(1.4);
}

.menu-hamburger.opened::after {
    transform-origin: 0 0;
    transform: rotate(-45deg) scaleX(1.4);
}

.menu-hamburger.opened>span {
    transform: scale(0);
}

/* ------------------------------- */

nav.main-menu {
    position: fixed;
    background-color: rgba(0 0 0 / .5);
    width: var(--width-main-menu);
    left: 0;
    top: 0;
    height: 100dvh;
    transition: .3s;
    transform: translateX(-100%);
    backdrop-filter: blur(2.5px);
    overflow: auto;
}

nav.main-menu a {
    display: block;
    background-color: rgba(255 255 255 / .9);
    margin: 1rem;
    border-radius: 5px;
    padding: .5rem;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: .5em;
}

nav.main-menu a:visited {
    color: gray;
}

nav.main-menu.opened {
    transform: translateX(0%);
}

html,
body {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh
}

header {
    position: relative;
    height: 12vmin;
    display: flex;
    padding: 1.5vw;
    font-family: 'Beau Rivage', cursive;
    font-size: 2vw;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(white , gray);
    box-shadow: 1px -18px 21px 38px rgba(0,0,0,0.81);
    z-index: 1;
}

.logos{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2vw;
    padding: 1vw;
}

.logos :nth-child(1){
    height: 4vw;
    width: 6vw;
}

.logos :nth-child(2),
.logos :nth-child(3){
    height: 5vw;
    width: 5vw;
}

.inicio {
    height: 60vw;
    display: grid;
    grid-template-columns: 3vw 6fr 9fr;
    grid-template-rows: 35vw 1fr 2vw;
}

.img_fundo1{
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.frase_inicial {
    grid-column: 2;
    grid-row: 2;
    color: white;
    font-size: 2vw;
}